.control-pane {
    position: absolute;
    top: 0px;
    left: 60px;
    font-size: 1.25em;
    color: #5f646e;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
    font-family: monospace;
    color: #4C4C4C;
    width: 246px;
    height: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid #57585A;
    border-radius: 0px;
}
/* .control-pane p{
 
} */
.control-pane>p{
  font-size: 18px;
  color: black;
  font-weight: bold;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}
.control-pane span{
  font-size: 13px;
  color: #5f646e;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}
.control-pane .simple-symbol p span{
  display: block;
  font-size: 13px;
  color: #5f646e;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
  float: left;
  padding: 10px;
  font-weight: normal;
}
/* .control-pane .unique-symbol p span{
  display: block;
  font-size: 13px;
  color: #8A8A8A;
  float: left;
  padding: 10px;
  font-weight: normal;
} */
.render-img{
  width: 28%;
  display: inline-block;
  margin-left: 13px;
}
.render-img img {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  cursor: pointer;
}
.render-img span{
  font-size: 12px;
  color: #5f646e;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}
.active{
  border:2px solid #0e9fff; 
}

.vue-colorpicker{
    -webkit-appearance: none;/*清除系统默认样式*/
    display: inline-block !important;
    box-sizing: border-box !important;
    height: 26px !important;
    padding: 6px !important;
    border: 1px solid #bfcbd9 !important;
    border-radius: 0px 2px 2px 0px !important;
    font-size: 0 !important;
    cursor: pointer !important;
    width: 100px !important;
}
/* .vc-sketch {
  margin-left: -60px !important;
  margin-top: 10px !important;
} */
.symbol-color-box, .line-color-box{
  position: relative;
}
.symbol-color-opacity, .line-color-opacity{
  width: 34px;
  height: 24px;
  float: left;
  /* margin: 0; */
  /* display:inline; */
  border: 1px  solid #bfcbd9;
  border-radius: 2px 0px 0px 2px;
  border-right: 1px none; 
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  font-size: 13px;
  color: #5f646e;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

.symbol-opacity-range, .line-opacity-range, .outline-width-range{
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  position: absolute;
  width: 154px;
  height: 33px;
  background:white;
  border:1px solid #bfcbd9;
  border-radius:2px;
  z-index: 9999;
  margin-top: 4px;
  cursor: pointer;
}
.symbol-opacity-range span, .line-opacity-range span, .outline-width-range span{
  font-size: 10px;
  color: #5f646e;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
  position: absolute;
  margin-left: -54px;
}
/*横条样式*/
input[type=range] {
  -webkit-appearance: none;/*清除系统默认样式*/
  width: 50%;
  background: -webkit-linear-gradient(#61bd12, #61bd12) no-repeat, #ddd;/*设置左边颜色为#61bd12，右边颜色为#ddd*/
  background-size: 75% 100%;/*设置左右宽度比例*/
  height: 3px;/*横条的高度*/
  position: absolute;
  margin-left: 12px;
  margin-top: 0px;
}
/*拖动块的样式*/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;/*清除系统默认样式*/
  height: 12px;/*拖动块高度*/
  width: 12px;/*拖动块宽度*/
  background: #fff;/*拖动块背景*/
  border-radius: 50%; /*外观设置为圆形*/
  border: solid 3px #61bd12; /*设置边框*/
}
#class-num-range{
  width:33%;
  margin-left: 28px;
  margin-top: 16px;
}
.class-num{
  width: 36px;
  height: 22px;
  border: 1px solid #bfcbd9;
  border-radius: 2px;
  display: inline-block;
  margin-left: 126px;
  margin-top: 6px;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  font-size: 13px;
  color: #5f646e;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}
.outline-type-box{
  position: relative;
}
.outline-width{
  float: left;
  /* margin-left: 80px; */
  width: 32px;
  height:22px;
  border: 1px solid #bfcbd9;
  border-top-left-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:2px;
  text-align: center;
  line-height: 22px;
  font-size: 13px;
  color: #5f646e;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
  cursor: pointer;
}
.outline-type-selectBox{
  /* float: left; */
  margin-left: 113px;
  width: 100px;
  height:22px;
  border: 1px solid #bfcbd9;
  border-left: 1px none;
  border-top-left-radius:0px;
  border-top-right-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-left-radius:0px;
  cursor: pointer;
}
.selectBox_list{
  float: left;  
  display: grid;
  margin-top: 6px;
  margin-left: -34px;
  width: 132px;
  height: 100px;
  border: 1px solid #bfcbd9;
  border-radius: 2px;
  justify-content: center;
  cursor: pointer;
}
.render-field-selectBox {
  float: left;
  margin-top: -20px;
  margin-left: 90px;
  width: 132px;
  height:22px;
  border: 1px solid #bfcbd9;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-left-radius:2px;
  text-align: center;
  cursor: pointer;
}
.class-type-selectBox{
  /* float: left;
  margin-top: -20px; */
  margin-left: 38px;
  width: 132px;
  height:22px;
  border: 1px solid #bfcbd9;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-left-radius:2px;
  text-align: center;
  cursor: pointer;
}
.render-field-selectBox:active{
  border: 1px solid  #0e9fff;
}
.selectfield_list{
  position: absolute; 
  display: grid;
  margin-top: 6px;
  margin-left: -1px;
  width: 92px;
  height: auto;
  border: 1px solid #bfcbd9;
  border-radius: 2px;
  justify-content: center;
  cursor: pointer;
  background: #fff;
  box-shadow: 2px 3px 3px 2px #bfcbd9;
  z-index: 9999;
}
.select_type_list{
  position: absolute; 
  display: grid;
  margin-top: 6px;
  margin-left: -1px;
  width: 92px;
  height: 100px;
  border: 1px solid #bfcbd9;
  border-radius: 2px;
  justify-content: center;
  cursor: pointer;
  background: #fff;
  box-shadow: 2px 3px 3px 2px #bfcbd9;
  z-index: 9999;
}
li{
  white-space: nowrap;
  color: rgba(10, 18, 32, 1);
  cursor: pointer;
  /* width: 100%; */
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: -62px;
  background-image: none;
  font-size: 13px;
  color: #5f646e;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}
.option-title{
  font-size: 13px;
  color: #5f646e;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}
.simple-symbol .symbol-color, 
.simple-symbol .line-color,
.simple-symbol .outline-type{
  display: -webkit-inline-box;
  margin-top: 6px;
}
.simple-symbol .symbol-color-box, 
.simple-symbol .line-color-box,
.simple-symbol .outline-type-box{
  margin-left: 37px;
}
.simple-symbol .outline-width{
  width: 34px;
}
.simple-symbol .outline-type-selectBox{
  margin-left: 34px;
}

.unique-symbol .symbol-color, 
.unique-symbol .line-color,
.unique-symbol .outline-type{
  display: -webkit-inline-box;
  margin-top: 6px;
}
.unique-symbol .symbol-color-box, 
.unique-symbol .line-color-box,
.unique-symbol .outline-type-box{
  margin-left: 37px;
}
.unique-symbol .outline-width{
  width: 34px;
}
.unique-symbol .outline-type-selectBox{
  margin-left: 34px;
}

.classbreak-symbol .symbol-color, 
.classbreak-symbol .line-color,
.classbreak-symbol .outline-type{
  display: -webkit-inline-box;
  margin-top: 6px;
}
.classbreak-symbol .classbreak-type{
  display: -webkit-inline-box;
  margin-top: 6px;
}
.classbreak-symbol .symbol-color-box, 
.classbreak-symbol .line-color-box,
.classbreak-symbol .outline-type-box{
  margin-left: 37px;
}
.classbreak-symbol .outline-width{
  width: 34px;
}
.classbreak-symbol .outline-type-selectBox{
  margin-left: 34px;
}